* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url(Bild1.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #a10c0c;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 4vw;
    margin-top: 80px;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 1.5;
    font-size: 2vw;
}

.btn {
    display: block;
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #0e4e83;
    background: transparent;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2em;
    background: linear-gradient(to left, transparent 50%, #0e4e83 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.btn:hover {
    background-position: left;
    border: 2px solid #0e4e83;
}

.button-position {
    display: flex;
    justify-content: center; /* Button centered horizontally */
    align-items: center; /* Button centered vertically */
    height: 50px;
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adjust the gap as needed */
    margin-top: 20px; /* Adjust the margin as needed */
}

.info-section {
    background-color: rgba(0, 0, 0, 0.75); /* Matching color to the website's theme */
    color: #fff;
    width: 100%;
    text-align: left;
    padding: 20px auto;
    height: 100px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .navbar ul.active {
        display: flex;
    }

    .navbar ul li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
        color: #fff;
        font-size: 2em;
        margin-right: 20px;
    }

    .logo {
        width: 100px;
    }

    .content h1 {
        font-size: 6vw;
    }

    .content p {
        font-size: 3vw;
    }
}

/* Hamburger Menu Icon */
.menu-toggle {
    display: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

body{
padding-bottom: 38px;
}
